* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
  width: 240px;
  height: 100%;
  background-color: rgb(5, 5, 59);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20%;
  overflow-x: hidden;
}
#sidebar a,
a:visited {
  padding: 10px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: block;
}
#sidebar a:hover {
  background-color: #fff;
  color: rgb(5, 5, 59);
}

#main {
  height: 100%;
  position: fixed;
  background-color: aliceblue;
  left: 240px;
  padding: 20px;
  overflow-x: hidden;
}
